@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   font-family: "Inter", sans-serif;
}

header .navbar-collapse {
   flex-grow: 0;
}

header form {
   position: relative;
}

header ul {
   font-size: 16px;
}

.search-icons {
   position: absolute;
   top: 6px;
   right: 18px;
}

.Subscribe {
   background-color: #6B46FF;
}

.create-btn {
   width: 149px;
   height: 40px;
   color: #6B46FF;
   font-weight: 600;
   border-radius: 40px;
   background-color: whitesmoke;
}

.started-btn {
   width: 217px;
   height: 64px;
   background-color: #6B46FF;
   border-radius: 9px;
   font-weight: bold;
   color: white;
}

.Features {
   /* margin: auto; */
   color: #6B46FF;
}

.para {
   color: #475467;
}

.myborder {
   border: 1px solid #D0D5DD;
   border-radius: 14px;
}

.fourthrow {
   margin-top: 85px;
}

.mission {
   margin-top: 120px;
}

.imagesfull img {
   width: 100%;
}

.imgF img {
   width: 100%;
}

.mybtn {
   background-color: white;
}

.secEight {
   background-color: #F9FAFB;
}

.color {
   color: #667085;
}

.myinp {
   border: 1px solid #667085;
   border-radius: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.myinp input {
   border: none;
   outline: none;
   padding: 4px;
}